<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- Это мета-тег, который дает инструкции браузеру о том, как контролировать размеры и масштаб страницы
        Самая важная часть. Она говорит браузеру: «Используй в качестве ширины видимой области (width) реальную физическую ширину экрана устройства (device-width)»
        content="initial-scale=1.0" Устанавливает начальный масштаб страницы в 100% (без увеличения или уменьшения). -->
        <title>Time</title>
        <link rel="stylesheet" href="/styles/font.css"> <!-- Подключаем шрифты -->
        <link rel="stylesheet" href="/styles/style.css"/>
        <link rel="icon" href="/images/favicon.png"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"> <!--Подключение шрифтов из гугла, альтернатива директиве @font-face, есть в конспекте -->
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>

<body>
    <header class="container">
            <h1>Учет времени</h1>
    </header>
    <nav class="buttonpanel">
          
        <ul id="outer">
        <li class="inner"><a href="/">дом</a></li>
        <li class="inner"><a href="/about">о проекте</a></li>
        <li class="inner"><a href="#1">данные за день</a></li> <!--Функция вывода данных за день здесь будет-->
        <li class="inner"><a href="#2">данные за период</a></li>
        <li class="inner"><a href="#3">настройки</a></li>
        
        </ul>
          
              
           
    </nav>

    {{{body}}}
                      
        

        
        <footer class="footer">
            <h4 class="footer-author">Bo|Studio 2025</h4>
        </footer>



</body>

</html>