         <section class="quote">
        {{#if quote}}
            <blockquote>
                <h2>{{quote}}</h2>
            </blockquote>
             {{else}}
        <p style="color: red;">Переменная quote НЕ передана в шаблон!</p>
        <p>Значение quote: {{quote}}</p>
            {{/if}}
        </section>
        
        <main class="main">
            <form class="form">  
            
                <ul class="content">
                <li class="card" id="card-1">
                    <img class="card-image" src="https://img.icons8.com/?size=100&id=vDnUS6DqDutj&format=png&color=000000">
                </li>
                
                
                <li class="card" id="card-2">
                    <img class="card-image" src="https://img.icons8.com/?size=100&id=zlzd62YNn3Gj&format=png&color=000000">    
                </li>

                <li class="card" id="card-3">
                    <img class="card-image" src="https://img.icons8.com/?size=100&id=xIupSPUYUX5E&format=png&color=000000">    
                </li>

                <li class="card" id="card-4">
                    <img class="card-image" src="https://img.icons8.com/?size=100&id=oxJGSOB9C8Mi&format=png&color=000000">    
                </li>

                <li class="card" id="card-5">
                    <img class="card-image" src="https://img.icons8.com/?size=100&id=IVpG4Gj9cCnd&format=png&color=000000">    
                </li>
                </ul>
            
            </form> 
        </main>
                      
        