/*Подключение шрифтов*/
@font-face {
  font-family: 'EB Garamond';
  src: 
  url(../fonts/EBGaramond-Medium.woff2) format('woff2'),
  url(../fonts/EBGaramond-Medium.woff) format('woff'),
  url(../fonts/EBGaramond-Medium.ttf) format('ttf');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: 
  url(../fonts/EBGaramond-Regular.woff2) format('woff2'),
  url(../fonts/EBGaramond-Regular.woff) format('woff'),
  url(../fonts/EBGaramond-Regular.ttf) format('ttf');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'EB Garamond';
  src: 
  url(../fonts/EBGaramond-Bold.woff2) format('woff2'),
  url(../fonts/EBGaramond-Bold.woff) format('woff'),
  url(../fonts/EBGaramond-Bold.ttf) format('ttf');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: 
   url(../fonts/Inter-Bold.woff2) format('woff2'),
   url(../fonts/Inter-Bold.woff) format('woff'),
   url(../fonts/Inter-Bold.ttf) format('ttf');
   font-weight: 700;
   font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src:
  url(../fonts/Inter-Regular.woff2) format('woff2'),
  url(../fonts/Inter-Regular.woff) format('woff'),
  url(../fonts/Inter-Regular.ttf) format('ttf');
  font-weight: 400;
  font-display:swap;
}